body {
  margin: 0;
  background: #fafafa;
  font-family: sans-serif;
}

button {
  background: #222;
  color: white;
  padding: 7px 12px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
button:hover {
  background: black;
}
